params {
    xenium_dir = "${launchDir}/nextflow/tests/data"
    baysor_min_molecules_per_cell_values = [1]
    prior_segmentation_confidence_values = [0.99]
    baysor_scale_values = [null]
    baysor_scale_std_values = [null]
    baysor_n_clusters_values = [3]
    tile_height = 64
    tile_width = 64
    overlap_percentage = 0.25
}

process {
    publishDir = { "${params.outdir}" }
}
