params {
   xenium_dir = "${launchDir}/nextflow/tests/data"
   tile_height = 64
   tile_width = 64
   overlap_percentage = 0.25
   celltyping_n_chains = 3
   sample_area = "8000,1500,8100,1600"
   n_predict_jobs = 4
   segmentation_tile_height = 64
   segmentation_tile_width = 64
   n_celltypes = 2
}

process {
    publishDir = { "${params.outdir}" }

    withName: CELLTYPING {
        ext.args = [
            '--min-n-celltypes', '2',
            '--max-n-celltypes', '4',
        ].join(' ')
    }

    withName: TRAIN {
        ext.args = [
            '--epochs', '1',
            '--device', 'auto',
            '--num-dataloader-workers', '0'
        ].join(' ')
    }

    withName: PREDICT {
        ext.args = [
            '--device', 'cpu',
            '--num-dataloader-workers', '0'
        ].join(' ')
    }
}
