params {
   transcripts = "/Users/jquinn/Code/nuc2seg/nextflow/tests/data/downsampled_transcripts.parquet"
   boundaries = "/Users/jquinn/Code/nuc2seg/nextflow/tests/data/downsampled_nucleus_boundaries.parquet"
   tile_height = 64
   tile_width = 64
   overlap_percentage = 0.5
}

process {
    publishDir = { "${params.outdir}" }

    withName: PREPROCESS {
        ext.args = [
            '--sample-area', '8000,1500,8200,1700'
        ].join(' ')
    }

    withName: TRAIN {
        ext.args = [
            '--epochs', '50',
            '--batch-size', '1'
        ].join(' ')
    }
}
