name: Container Builds
on:
  push:
    branches:
      - 'main'
jobs:
  build-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push container
        uses: docker/build-push-action@v3
        with:
          context: .
          file: Dockerfile
          push: true
          tags: jeffquinnmsk/nuc2seg:latest
          cache-from: type=registry,ref=jeffquinnmsk/nuc2seg:latest
          cache-to: type=inline
      - name: Build and push container
        uses: docker/build-push-action@v3
        with:
          context: .
          file: Dockerfile
          push: true
          tags: jeffquinnmsk/spatialdata:latest
          cache-from: type=registry,ref=jeffquinnmsk/spatialdata:latest
  nextflow-integration:
    runs-on: ubuntu-20.04
    name: pytest
    needs: build-docker

    env:
      NXF_ANSI_LOG: false

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install Python dependencies
        run: python -m pip install --upgrade pip pytest-workflow cryptography

      - name: Setup Nextflow
        uses: nf-core/setup-nextflow@v1

      - name: Run pytest-workflow
        working-directory: ./nextflow
        run: TMPDIR=~ PROFILE=docker pytest --symlink --kwdof --git-aware --color=yes
